form {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 35px;
}

.big-letter {
    font-size: 24px;
    font-weight: 500;
}

.mat-hint {
    display: none;
}

.mat-form-field.mat-focused {
    .mat-hint {
        display: block;
    }
}
