<mat-card>
    <mat-toolbar class="dinamica-toolbar">
        <img src="assets/images/logo-blanco-01.png" style="width: 200px; height: auto; margin: auto;">
    </mat-toolbar>
    <mat-card-content style="padding: 25px;">
        <h3>Felicitaciones {{ mail }} tú registro se completó exitosamente!!!</h3>
        <p>Presioná continuar para ingresar a Dinámica on line</p>    
        <br>
        <br>
        <br>
        <button mat-flat-button class="full-width red-button" routerLinkActive="list-item-active" routerLink="/login">
            Continuar
        </button>
        <br>
    </mat-card-content>
</mat-card>