<div class="banner-container">
  <img src="../../../../assets/banner-principal.webp" class="banner">
</div>
<div class="container">

  <br>
  <div class="container">
    <h2>Vistos recientemente</h2>
  </div>
  <div class="container">
    <mat-grid-list cols="4" rowHeight="420px" gutterSize="10px" class="grid-layout">
      <mat-grid-tile *ngFor="let item of items | slice:0:4">
        <mat-card>
          <img mat-card-image
            src='{{ "https://boodle-bucket.s3.sa-east-1.amazonaws.com/vehicules/" + item.documents[0].documentName }}'
            alt="ABCDEF565943_637666134537352609.jpg">
          <mat-card-content>
            <a mat-button (click)="goItem(item.itemId)">
              <p class="prize">
                $ {{ item.price | number}}
              </p>
            </a>
            <p>{{ item.year }} | {{ item.km }} km</p>
            <p>{{ item.itemName }}</p>
            <p>Santiago del Estero</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <br>
  <div class="container">
    <h2>Ofertas destacadas</h2>
  </div>

  <div class="container">
    <mat-grid-list cols="4" rowHeight="420px" gutterSize="10px" class="grid-layout">
      <mat-grid-tile *ngFor="let item of items | slice:0:4">
        <mat-card>
          <img mat-card-image
            src='{{ "https://boodle-bucket.s3.sa-east-1.amazonaws.com/vehicules/" + item.documents[0].documentName }}'
            alt="ABCDEF565943_637666134537352609.jpg">
          <mat-card-content>
            <a mat-button (click)="goItem(item.itemId)">
              <p class="prize">
                $ {{ item.price | number}}
              </p>
            </a>
            <p>{{ item.year }} | {{ item.km }} km</p>
            <p>{{ item.itemName }}</p>
            <p>Santiago del Estero</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="container">
    <h2>Agencias destacadas</h2>
  </div>

  <div class="container">
    <mat-grid-list cols="4" rowHeight="400px" gutterSize="10px" class="grid-layout">
      <mat-grid-tile *ngFor="let cust of customers | slice:0:4">
        <mat-card class="example-card">

          <img mat-card-image src='{{ "https://boodle-bucket.s3.sa-east-1.amazonaws.com/customers/" + cust.banner }}'>
          <mat-card-content>
            <p class="prize">
              {{ cust.name }}
            </p>
            <p>Concesionario</p>
            <p>Saenz Pena 465</p>
            <p>Santiago del Estero</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <br>