<br>
<div class="container">

    <form [formGroup]="form">
        <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="15">
            <h2>Descripción del vehiculo</h2>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Título del post</mat-label>
                <input matInput formControlName="itemName" >
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px" class="full-width">
 
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Condición</mat-label>
                        <mat-select formControlName="used">
                            <mat-option>None</mat-option>
                            <mat-option value="N">NUEVO</mat-option>
                            <mat-option value="Y">USADO</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Codigo fabricante</mat-label>
                        <input matInput formControlName="itemCode">
                    </mat-form-field>
                               </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px" class="full-width">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Tipo de activo</mat-label>
                        <mat-select formControlName="itemTypeId">
                            <mat-option> Seleccione tipo</mat-option>
                            <mat-option *ngFor="let itemType of itemTypes" [value]="itemType.itemTypeId">
                                {{itemType.itemTypeName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="categoryId">
                            <mat-option> Seleccione categoría</mat-option>
                            <mat-option *ngFor="let category of categories" [value]="category.categoryId">
                                {{ category.categoryName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Marca</mat-label>
                    <mat-select (selectionChange)="onSelectMake($event.value)" formControlName="makeId">
                        <mat-option> Seleccione marca</mat-option>
                        <mat-option *ngFor="let make of makes" [value]="make.makeId">
                            {{make.makeName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Modelo</mat-label>
                    <mat-select (selectionChange)="onSelectModel($event.value)" formControlName="modelId">
                        <mat-option> Seleccione modelo</mat-option>
                        <mat-option *ngFor="let model of models" [value]="model.modelId">
                            {{ model.modelName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="15px">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Versión</mat-label>
                    <mat-select formControlName="trimId">
                        <mat-option> Seleccione version</mat-option>
                        <mat-option *ngFor="let trim of trims" [value]="trim.trimId">
                            {{ trim.trimName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px" class="full-width">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Año</mat-label>
                        <input matInput type="number" formControlName="year">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Kilometros</mat-label>
                        <input matInput type="number" formControlName="km">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="15px">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Color</mat-label>
                    <input matInput formControlName="color">
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px" class="full-width">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Transmisión</mat-label>
                        <mat-select formControlName="transmition">
                            <mat-option>None</mat-option>
                            <mat-option value="MT">MANUAL</mat-option>
                            <mat-option value="AT">AUTOMATICA</mat-option>
                            <mat-option value="ST">SECUENCIAL</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Combustible</mat-label>
                        <mat-select formControlName="fuel">
                            <mat-option>None</mat-option>
                            <mat-option value="DIESEL">DIESEL</mat-option>
                            <mat-option value="NAFTA">NAFTA</mat-option>
                            <mat-option value="HIBRIDO">HIBRIDO</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="15px">

                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Descripcion</mat-label>
                    <textarea matInput formControlName="description" rows="4"></textarea>
                </mat-form-field>
                <div fxLayout="column" fxLayoutAlign="space-between stretch" class="full-width">
                    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="15px" class="full-width">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Precio</mat-label>
                            <input matInput type="number" formControlName="price">
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Precio oferta</mat-label>
                            <input matInput type="number" formControlName="salePrice">
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px" class="full-width">
                        <a mat-button (click)="selectImage.click()">Agregar imagenes</a>
                        <input type="file" (change)="updateImage($event)" style="display: none" #selectImage multiple />
                    </div>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="15px">
            <div style="width: 100%; border: 1px solid gainsboro;">
                <mat-grid-list cols="4" rowHeight="220px" gutterSize="10px" class="grid-layout">
                    <mat-grid-tile *ngFor="let image of images | slice:0:6">
                        <mat-card>
                            <img mat-card-image [src]="image">
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="15px">
            <button mat-raised-button color="warn" outerLinkActive="list-item-active" class="full-width">
                Cancelar
            </button>
            <button mat-raised-button color="primary" outerLinkActive="list-item-active" class="full-width"
                (click)="onSubmit()">
                Continuar
            </button>
        </div>

    </form>
</div>