.big-letter {
    font-size: 24px;
    font-weight: 500;
  }
mat-label {
  color: black
}

mat-card {
  max-width: 450px;
  width: 90%;
  top: 75px;
  padding: 10px;
  margin: auto;
  text-align: center;
}

mat-form-field {
  display: block;
}