:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
  background-color: white;
}


h1 {
    font-size: 24px;
    font-weight: 600;
    color: rgb(36, 136, 170);
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
.example-sidenav-container {
    flex: 1;
    background-color: white;
  }
  
  .example-sidenav{
    color: #d36423;
  }
  
  .mat-list-item{
    color: #333333;
    opacity: 0.8;
    font-weight: bold;
  }
   
  
  .example-toolbar {
      z-index: 2;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
  }
  
  mat-grid-list {
    margin: 2em 2em 0 2em;
}

mat-card {
    border: 1px solid lightgray !important;
    display: flex;
    flex-direction: column;
    max-height: 385px;
    align-items: center;
}

img {
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.grid-layout {
    max-width: 1200px;
    width: 100%;
}
