<br>
<div class="container">
    <h2>Mis favoritos</h2>
</div>
<div class="container">
    <mat-grid-list cols="4" rowHeight="420px" gutterSize="10px" class="grid-layout">
        <mat-grid-tile *ngFor="let item of items | slice:0:2">
            <mat-card>
                <img mat-card-image
                    src='{{ "https://boodle-bucket.s3.sa-east-1.amazonaws.com/vehicules/" + item.documents[0].documentName }}'
                    alt="ABCDEF565943_637666134537352609.jpg">
                <mat-card-content>
                    <p>
                        $ {{ item.price | number}}
                    </p>
                    <p>{{ item.year }} | {{ item.km }} km</p>
                    <p>{{ item.itemName }}</p>
                    <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="15px">
                        <button mat-raised-button color="warn" outerLinkActive="list-item-active" class="full-width">
                            Eliminar

                        </button>
                        <button mat-raised-button color="primary" outerLinkActive="list-item-active" class="full-width">
                            Comprar
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>